<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

<h1>DriveTreeCreator</h1>
<form class="form" onsubmit="return false">
    <div class="inputBox">
        <label for="clientId">clientId</label>
        <input type="text" id="clientId" required>
    </div>
    <div class="inputBox">
        <label for="apiKey">apiKey</label>
        <input type="text" id="apiKey" required>
    </div>
    <div class="inputBox">
        <label for="folderId">folderId</label>
        <input type="text" id="folderId" required>
    </div>
    <div class="inputBox">
        <label for="owner">owner</label>
        <input type="text" id="owner" required>
    </div>
    <button id="start" type="submit">START</button>
</form>

<script src="./js/index.js"></script>
</body>
</html>
